<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
  .header {
	padding: 0px;
	text-align: center;
	background: #FF671F;
	color: white;
	font-size: 15px;
   }
/* Page Content */
    .content {padding:20px;}

    .chart-container {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
    }
    .chart-box {
	width: 45%;
    }
    div.intro {
	margin-left: 100px;
      	margin-right: 100px;
    }
    div.img_container {
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
    }
    div.bottom {
	position: absolute;
	bottom: 3vh;
	left: 5vw;
	color: white;
	font-weight: bold;
	font-size: 20px;
    }
    div.column {
	float: left;
	width: 30%;
	padding: 5px;
	position: relative;
    }

P { font-family: "Helvetica Neue";
    color: #00004d; 
    font-size: 18px
}
P2 { font-family: "Helvetica Neue";
    color: #00004d; 
    font-size: 16px
}
H1 { font-family: "Times-New-Roman";
    color: white;
    font-size: 20px
}
H2 { font-family: "Times-New-Roman";
    color: black;
    font-size: 18px
}
H3 { font-family: "Times-New-Roman";
    color: black;
    font-size: 14px
}
H4 { font-family: "Times-New-Roman";
    color: black;
    font-size: 12px
}
H5 { font-family: "Times-New-Roman";
    color: black;
    font-size: 10px
}
H6 { font-family: "Times-New-Roman";
    color: black;
    font-size: 8px
}
a { 
  color: white; 
  text-decoration: none;
}
a:hover {
  color: green;
}



</style>
